// @import "../_misc/sprite";
.features__block {
    width: 100%;
    float: left;
    margin-bottom: 120px;
}

.card__block {
    width: 100%;
    float: left;
    .card__item_v {
        width: calc(100%/3);
        float: left;
        text-align: center;
        margin-bottom: 60px;

        .icon {
            // margin-bottom: 26px;
        }

        .icon_atom {
            @include sprite($icon-atom);
            margin-top: 4px;
        }

        .icon_flask {
            @include sprite($icon-flask);
        }

        .icon_layers {
            @include sprite($icon-layers);
            margin-top: 8px;
        }
    }

    .title__item {
        color: #0f5f5c;
        font-size: 16px;
        font-weight: 400;
        line-height: 58px;
    }

    .descr {
        padding: 0 12px;
    }
}

.divider__block {
    width: 100%;
    float: left;
    margin-bottom: 50px;

    .divider__vertical {
        width: 2px;
        height: 90px;
        background-color: #f2f2f2;
        margin: 0 auto;
    }

    .divider__gorizont {
        width: 90px;
        height: 2px;
        background-color: #f2f2f2;
        margin: 0 auto;
    }
}

.capability__block {
    width: 100%;

    .card__item__g {
        width: 50%;
        float: left;
        margin-bottom: 60px;

        .title__item {
            float: left;
            color: #0f5f5c;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            position: relative;
            margin-left: 55px;

        }

    }
    .descr {
        float: left;
    }

    .icon_planet {

        &:before{
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: -50px;
            @include sprite($icon-planet);
        }
    }

    .icon_lightbulb {

        &:before{
            content: " ";
            display: block;
            position: absolute;
            top: -5px;
            left: -50px;
            @include sprite($icon-lightbulb);
        }
    }

    .icon_magic-wand {

        &:before{
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: -50px;
            @include sprite($icon-magic-wand);
        }
    }

    .icon_cloud {

        &:before{
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: -50px;
            @include sprite($icon-cloud);
        }
    }
}
