// footer block start
.footer {
    color: #0f5f5c;

    .footer__top {
        width: 100%;
        float: left;
        padding-bottom : 58px;
        margin-bottom:25px;
        border-bottom : 1px solid #eef1ec;

        .addr__link, .nav__link {
            color: #0f5f5c;
        }

        .nav__link, .desc {
            color: #83a7a5;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 400;
            line-height: 28px;
            text-transform: none;
        }

        .desc {
            line-height: 18px;
        }

        .footer__top__item {
            float: left;
            width: 25%;

            .title__menu {
                font-size: 13px;
                font-weight: 700;
                line-height: 22px;
            }

            .footer__nav, .subscribe__block {
                margin-top: 25px;

            }
        }

        .address, .phone {
            font-size: 13px;
            font-weight: 400;
            font-family: Roboto;
            color: #83a7a5;

            .title__address {
                color: #0f5f5c;
                font-family: ProximaNova;
                font-size: 22px;
                font-weight: 700;
                line-height: 24px;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            .descr__address {
                line-height: 28px;

                .addr__link {
                    text-transform: lowercase;

                    &.phone{
                        color: #83a7a5;
                    }
                }

                &.adds {
                    line-height: 20px;
                    width: 80%;
                }
            }
        }

        .input__block {
          position: relative;
        }

        .input__mail {
            width: 100%;
            background-color: #eef1ec;
            @include border-radius(3px);
            border: none;
            color: #83a7a5;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            padding:12px;

            @include placeholder {
                color: #83a7a5;
            }

            &:-webkit-input-placeholder {
                color: #83a7a5;
            }

        }
        .icon__plane {
          position: absolute;
          right: -10px;
          top: 12px;
          @include sprite($icon-paper-plane);
          border: none;
          background-color: #eef1ec;
        }

    }

    .footer__down {

      .socials__item {
        display: inline-block;
        width: 30px;
        height: 30px;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    .social__link {
      display: block;
      height: 100%;
      width: 100%;
      text-indent: -9999px;
    }
    .socials__icon_tw {
      @include sprite($icon-tw);
    }

    .socials__icon_fb {
      @include sprite($icon-fb);
    }

    .socials__icon_inst {
      @include sprite($icon-inst);
    }

    .socials__icon_drib {
      @include sprite($icon-drib);
    }

    .socials__icon_github {
      @include sprite($icon-github);
    }

  .copyright {
    color: #83a7a5;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}


//footer block end
