// navbar block
.nav__head {
    margin-top: 34px;
    float: right;
    width: 48%;

    .nav__head__list {
        float: left;
        width: 77%;
        .nav__head__item{
            display: inline-block;
            margin-left: 30px;

            .nav__head__link {
                font-size: 13px;
                line-height: 28px;
            }
        }
    }
}
.start__button {
    display: block;
    float: right;
    font-size: 12px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, .35);
    @include border-radius(2px);
}
