//promo map block start
.promo__map__block {
    @extend .promo__template__block;
    width: 100%;
    margin-bottom: 95px;

    .image__block {
        margin: 60px 0 60px 0;

        .image {
            margin-right: 153px;
        }
    }

    .description__block {

        .description__item {
            width: 51%;
            margin-top: 145px;

            .descr__block, .title__block--descr {
                text-align: left;
            }
        }
    }

}
//promo map block end
