//promo map block start
.promo__map__block {
    @extend .promo__template__block;
    width: 100%;
    margin-bottom: 95px;

    .image__block {
        margin: 60px 0 60px 0;
    }

    .description__block {

        .description__item {
            width: 60%;
            margin-top: 145px;

            .descr__block {
                text-align: left;
            }
        }
    }

}
//promo map block end
