//- about page
extends ../main
block title
    | Wapik. About US

block content
    include ../mixins/mixins
    include ../_blocks/_maintextaboutblock
    .about__block
        include ../_blocks/_aboutusblock
    include ../_blocks/_team
    include ../_blocks/_downloadblockabout
