extends ../main
block title
    | Wapik. Contact Us
block content
    include ../_blocks/_headblockcontact
    include ../_blocks/_contactform
    include ../_blocks/_download
    
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6cOkPPD9HLBiXwReXUYHrjYqzu4GJVQA")
    script(type="text/javascript" src="js/main.js")
    
