extends ../main
block title
    | Wapik
block content
    include ../_blocks/_maintextblock
    .container
        include ../_blocks/_featureblock
    include ../_blocks/_promotemp
    .container
        include ../_blocks/_reviews
    include ../_blocks/_promomap
    .container
        include ../_blocks/_pricing
    include ../_blocks/_download
