extends ../main
block title
    | Wapik
block content1
    include ../_blocks/_features
    
block content2    
    include ../_blocks/_reviews
    include ../_blocks/_promomap
    include ../_blocks/_pricing
    include ../_blocks/_download
