extends ../main
block title
    | Wapik
block content
    include ../_blocks/_features
    include ../_blocks/_promotemp
    include ../_blocks/_reviews
    include ../_blocks/_promomap
    include ../_blocks/_pricing
    include ../_blocks/_download