/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-atom-name: 'icon-atom';
$icon-atom-x: 1264px;
$icon-atom-y: 0px;
$icon-atom-offset-x: -1264px;
$icon-atom-offset-y: 0px;
$icon-atom-width: 52px;
$icon-atom-height: 52px;
$icon-atom-total-width: 1432px;
$icon-atom-total-height: 56px;
$icon-atom-image: '../img/icons/sprite.png';
$icon-atom: (1264px, 0px, -1264px, 0px, 52px, 52px, 1432px, 56px, '../img/icons/sprite.png', 'icon-atom', );
$icon-cloud-name: 'icon-cloud';
$icon-cloud-x: 954px;
$icon-cloud-y: 0px;
$icon-cloud-offset-x: -954px;
$icon-cloud-offset-y: 0px;
$icon-cloud-width: 38px;
$icon-cloud-height: 36px;
$icon-cloud-total-width: 1432px;
$icon-cloud-total-height: 56px;
$icon-cloud-image: '../img/icons/sprite.png';
$icon-cloud: (954px, 0px, -954px, 0px, 38px, 36px, 1432px, 56px, '../img/icons/sprite.png', 'icon-cloud', );
$icon-drib-name: 'icon-drib';
$icon-drib-x: 502px;
$icon-drib-y: 0px;
$icon-drib-offset-x: -502px;
$icon-drib-offset-y: 0px;
$icon-drib-width: 30px;
$icon-drib-height: 30px;
$icon-drib-total-width: 1432px;
$icon-drib-total-height: 56px;
$icon-drib-image: '../img/icons/sprite.png';
$icon-drib: (502px, 0px, -502px, 0px, 30px, 30px, 1432px, 56px, '../img/icons/sprite.png', 'icon-drib', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 592px;
$icon-fb-y: 0px;
$icon-fb-offset-x: -592px;
$icon-fb-offset-y: 0px;
$icon-fb-width: 30px;
$icon-fb-height: 30px;
$icon-fb-total-width: 1432px;
$icon-fb-total-height: 56px;
$icon-fb-image: '../img/icons/sprite.png';
$icon-fb: (592px, 0px, -592px, 0px, 30px, 30px, 1432px, 56px, '../img/icons/sprite.png', 'icon-fb', );
$icon-flask-name: 'icon-flask';
$icon-flask-x: 1156px;
$icon-flask-y: 0px;
$icon-flask-offset-x: -1156px;
$icon-flask-offset-y: 0px;
$icon-flask-width: 48px;
$icon-flask-height: 56px;
$icon-flask-total-width: 1432px;
$icon-flask-total-height: 56px;
$icon-flask-image: '../img/icons/sprite.png';
$icon-flask: (1156px, 0px, -1156px, 0px, 48px, 56px, 1432px, 56px, '../img/icons/sprite.png', 'icon-flask', );
$icon-github-name: 'icon-github';
$icon-github-x: 322px;
$icon-github-y: 0px;
$icon-github-offset-x: -322px;
$icon-github-offset-y: 0px;
$icon-github-width: 30px;
$icon-github-height: 30px;
$icon-github-total-width: 1432px;
$icon-github-total-height: 56px;
$icon-github-image: '../img/icons/sprite.png';
$icon-github: (322px, 0px, -322px, 0px, 30px, 30px, 1432px, 56px, '../img/icons/sprite.png', 'icon-github', );
$icon-inst-name: 'icon-inst';
$icon-inst-x: 412px;
$icon-inst-y: 0px;
$icon-inst-offset-x: -412px;
$icon-inst-offset-y: 0px;
$icon-inst-width: 30px;
$icon-inst-height: 30px;
$icon-inst-total-width: 1432px;
$icon-inst-total-height: 56px;
$icon-inst-image: '../img/icons/sprite.png';
$icon-inst: (412px, 0px, -412px, 0px, 30px, 30px, 1432px, 56px, '../img/icons/sprite.png', 'icon-inst', );
$icon-layers-name: 'icon-layers';
$icon-layers-x: 1376px;
$icon-layers-y: 0px;
$icon-layers-offset-x: -1376px;
$icon-layers-offset-y: 0px;
$icon-layers-width: 56px;
$icon-layers-height: 48px;
$icon-layers-total-width: 1432px;
$icon-layers-total-height: 56px;
$icon-layers-image: '../img/icons/sprite.png';
$icon-layers: (1376px, 0px, -1376px, 0px, 56px, 48px, 1432px, 56px, '../img/icons/sprite.png', 'icon-layers', );
$icon-lifebuoy-name: 'icon-lifebuoy';
$icon-lifebuoy-x: 1052px;
$icon-lifebuoy-y: 0px;
$icon-lifebuoy-offset-x: -1052px;
$icon-lifebuoy-offset-y: 0px;
$icon-lifebuoy-width: 44px;
$icon-lifebuoy-height: 44px;
$icon-lifebuoy-total-width: 1432px;
$icon-lifebuoy-total-height: 56px;
$icon-lifebuoy-image: '../img/icons/sprite.png';
$icon-lifebuoy: (1052px, 0px, -1052px, 0px, 44px, 44px, 1432px, 56px, '../img/icons/sprite.png', 'icon-lifebuoy', );
$icon-lightbulb-name: 'icon-lightbulb';
$icon-lightbulb-x: 152px;
$icon-lightbulb-y: 0px;
$icon-lightbulb-offset-x: -152px;
$icon-lightbulb-offset-y: 0px;
$icon-lightbulb-width: 24px;
$icon-lightbulb-height: 38px;
$icon-lightbulb-total-width: 1432px;
$icon-lightbulb-total-height: 56px;
$icon-lightbulb-image: '../img/icons/sprite.png';
$icon-lightbulb: (152px, 0px, -152px, 0px, 24px, 38px, 1432px, 56px, '../img/icons/sprite.png', 'icon-lightbulb', );
$icon-magic-wand-name: 'icon-magic-wand';
$icon-magic-wand-x: 862px;
$icon-magic-wand-y: 0px;
$icon-magic-wand-offset-x: -862px;
$icon-magic-wand-offset-y: 0px;
$icon-magic-wand-width: 32px;
$icon-magic-wand-height: 32px;
$icon-magic-wand-total-width: 1432px;
$icon-magic-wand-total-height: 56px;
$icon-magic-wand-image: '../img/icons/sprite.png';
$icon-magic-wand: (862px, 0px, -862px, 0px, 32px, 32px, 1432px, 56px, '../img/icons/sprite.png', 'icon-magic-wand', );
$icon-paper-plane-name: 'icon-paper-plane';
$icon-paper-plane-x: 74px;
$icon-paper-plane-y: 0px;
$icon-paper-plane-offset-x: -74px;
$icon-paper-plane-offset-y: 0px;
$icon-paper-plane-width: 18px;
$icon-paper-plane-height: 18px;
$icon-paper-plane-total-width: 1432px;
$icon-paper-plane-total-height: 56px;
$icon-paper-plane-image: '../img/icons/sprite.png';
$icon-paper-plane: (74px, 0px, -74px, 0px, 18px, 18px, 1432px, 56px, '../img/icons/sprite.png', 'icon-paper-plane', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 0px;
$icon-phone-y: 0px;
$icon-phone-offset-x: 0px;
$icon-phone-offset-y: 0px;
$icon-phone-width: 14px;
$icon-phone-height: 14px;
$icon-phone-total-width: 1432px;
$icon-phone-total-height: 56px;
$icon-phone-image: '../img/icons/sprite.png';
$icon-phone: (0px, 0px, 0px, 0px, 14px, 14px, 1432px, 56px, '../img/icons/sprite.png', 'icon-phone', );
$icon-planet-name: 'icon-planet';
$icon-planet-x: 772px;
$icon-planet-y: 0px;
$icon-planet-offset-x: -772px;
$icon-planet-offset-y: 0px;
$icon-planet-width: 30px;
$icon-planet-height: 30px;
$icon-planet-total-width: 1432px;
$icon-planet-total-height: 56px;
$icon-planet-image: '../img/icons/sprite.png';
$icon-planet: (772px, 0px, -772px, 0px, 30px, 30px, 1432px, 56px, '../img/icons/sprite.png', 'icon-planet', );
$icon-tick-name: 'icon-tick';
$icon-tick-x: 236px;
$icon-tick-y: 0px;
$icon-tick-offset-x: -236px;
$icon-tick-offset-y: 0px;
$icon-tick-width: 26px;
$icon-tick-height: 26px;
$icon-tick-total-width: 1432px;
$icon-tick-total-height: 56px;
$icon-tick-image: '../img/icons/sprite.png';
$icon-tick: (236px, 0px, -236px, 0px, 26px, 26px, 1432px, 56px, '../img/icons/sprite.png', 'icon-tick', );
$icon-tw-name: 'icon-tw';
$icon-tw-x: 682px;
$icon-tw-y: 0px;
$icon-tw-offset-x: -682px;
$icon-tw-offset-y: 0px;
$icon-tw-width: 30px;
$icon-tw-height: 30px;
$icon-tw-total-width: 1432px;
$icon-tw-total-height: 56px;
$icon-tw-image: '../img/icons/sprite.png';
$icon-tw: (682px, 0px, -682px, 0px, 30px, 30px, 1432px, 56px, '../img/icons/sprite.png', 'icon-tw', );
$spritesheet-width: 1432px;
$spritesheet-height: 56px;
$spritesheet-image: '../img/icons/sprite.png';
$spritesheet-sprites: ($icon-atom, $icon-cloud, $icon-drib, $icon-fb, $icon-flask, $icon-github, $icon-inst, $icon-layers, $icon-lifebuoy, $icon-lightbulb, $icon-magic-wand, $icon-paper-plane, $icon-phone, $icon-planet, $icon-tick, $icon-tw, );
$spritesheet: (1432px, 56px, '../img/icons/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
