// download block start
.download__block
    .container
        .description__block.left
            .description__item
                h2.title__block--descr
                    | Do You Like Wapik? Download it Now
                p.descr__block
                    | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .btn__block.right
            a(href="#!").btn download now! - FREE forever
// download block end
