// header block start
header.header
    .container
        .header--wrap
            .left
                .logo
                .phone
            .right
                include _nav
                button.start__button Get Started
        
// header block end
