// head block start

.head__block
    .color__block
        .gradient__block
            include _header
        .text__block
            .container
                .content__block
                    h1.title__head Welcome to Wapik
                    p.descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quia eaque, porro rem cum sunt cumque maxime distinctio quaerat consectetur alias sequi. Perspiciatis labore facilis quasi, nulla sint dicta quam.
                    .btn
                        | Learn More

// head block end
