//- help block start
.help__block
    .icon.icon__lifebuoy
        //- img(src="http://dummyimage.com/44/555/fff.png&text=icon", alt="icon")
    .article__block
        h2.title__block Need Help?
        p.descr__block
            | Contact our Customer Support that is always ready to help you with any possible questions, problems or information.
        
//- help block end
