extends _headblock
block image
    img.image__block-head(src="../img/about-top.png" alt="head image")

block textblock
    .text__block-about
        .content__block
            h1.title__head Cras justo odio, dapibus ac facilisis inegestas eget quam
            a.btn(href='!#', title="Start Your Free Trial", attr) Start Your Free Trial
