extends _headblock
block image
    img.image__block-head(src="../img/head.png" alt="head image")
block textblock
    .text__block
        .content__block
            h1.title__head Welcome to Wapik
            p.descr  Wapik is multipurpose template, with modern and smart design. Wapik is perfect template for you!
            a.btn(href='!#', title="Learn More", attr) Learn More
