//- navbar block start
nav.nav__head
    - var names = ["Home","About Us","PRICING","Contact Us"]
    ul.nav__head__list
        each val in names
            li.nav__head__item= val
//- navbar block end
