//- navbar block start
nav.nav__head.right
    - var names = ["Home","About Us","Pricing","Contact Us"]
    ul.nav__head__list
        each val in names
            li.nav__head__item
                a.nav__head__link(href="!#")= val
    a.start__button(href="!#") Get Started
//- navbar block end
