// promo template block start
.promo__template__block
    .container
        .article__block
            h2.title__block Looking for the perfect template to use?
            p.descr__block 
                | Donec id elit non mi porta gravida at eget metus.
        .description__block
            .image__block.left
                img(src="../img/hand-phone.png", alt="promo")
            .description__item.right
                h2.title__block--descr Responsive Ready
                p.descr__block
                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper.
                ul.list__block
                    li.list__item.icon_tick
                        | Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                    li.list__item.icon_tick
                        | Donec id elit non mi porta gravida at eget metus.            
// promo template block end
