//promo map block start
.promo__map__block
    .description__block
        .description__item
            h2.title__block
                | Built with High Attention to Details
            p.descr__block
                | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.
        .image__block
            img(src="http://dummyimage.com/714x382/555/fff.png&text=promo", alt="promo")
//promo map block end
