// reviews block start
.reviews__block
    .reviews__item
        .reviews__descr
            | This theme is beautiful, elegant and easy to customize. I’ve been able to build an amazing site in just a minute. Thank you very much for creating this impressive template!
        .reviews__sign
            .review__name
                | Valeria Boltneva
            .review__post
                | Director of Acme.Inc
    .reviews__photo
        .review__img
            img(src="http://dummyimage.com/400/555/fff.png&text=photo", alt="photo")
// reviews block end
